body {
    text-align: center;
    margin-top: 10%;
    font-size: 18px;
}

header {
    font-size: 24px;
}

.main {
    width: 450px;
    display: inline-block;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 50px;
}

.display {
    display: inline-block;
    align: center;
    font-size: 50px;
}

.displaypart {
    display: inline-block;
    float: left;
}

input[type=number]{
    width: 50px;
}
